<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo.png" alt="Logo">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="../views/nostros.html">Nosotros</a>
        <a href="../views/productos.html">Productos</a>
        <a href="../views/pedidos.html">Pedidos</a>
        <a href="../views/contacto.html">Contactanos</a>
    </nav>

    <section>
        <div class="titulo">
            <h1>Realice su pedido</h1>
        </div>
        <div class="form">
            <form action="">
                <div class="datosPersonales">
                    <label for="name">Nombre Completo</label>
                    <input type="text" name="nombre_completo" id="name" placeholder="Nombre completo"><br>
                    <label for="tel_cel">Número de contacto</label>
                    <input type="tel" name="Number" id="celphone" placeholder="Número telefonico"> <br>
                    <label for="email">Correo Electronico</label>
                    <input type="email" name="email_person" id="email" placeholder="your_email@example.com"> <br>
                    <label for="direccion">Calle</label>
                    <input type="text" name="calle" id="calle" placeholder="Nombre de tu calle">
                    <label for="CP">Código Postal</label>
                    <input type="text" name="cp" id="cp" placeholder="C.P">
                    <label for="colonia">Colonia</label>
                    <input type="text" name="colonia" id="colonia" placeholder="Nombre de colonia"> <br>
                    <label for="No.Exterior">No.Exterior</label>
                    <input type="text" name="noExterior" id="noExterior">
                    <label for="No.Interior">No.Interior</label>
                    <input type="text" name="no_interior" id="no_interior"> <hr>
                </div>
                <div class="pedido">
                    <label for="Tamaño">Selecciona el tamaño de tu pastel</label> <br>

                    <input type="radio" name="tamanioPastel" id="tamanioPastel" value="Chica">
                    <label for="Chica">Chica</label>
                    <input type="radio" name="tamanioPastel" id="tamanioPastel" value="Mediana">
                    <label for="Chica">Mediana</label>
                    <input type="radio" name="tamanioPastel" id="tamanioPastel" value="Grande">
                    <label for="Chica">Grande</label> <br>

                    <label for="Sabor">Selecciona el tipo de pastel</label> <br>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Fresas con chantilly">
                    <label for="">Fresas con chantilly</label>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Moka">
                    <label for="">Moka</label>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Tres leches">
                    <label for="Tres leches">Tres leches</label>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Café">
                    <label for="Café">Café</label>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Chocolate">
                    <label for="">Chocolate</label>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Cajeta">
                    <label for="">Cajeta</label>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Vainilla">
                    <label for="">Vainilla</label>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Piña">
                    <label for="">Piña</label>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Durazno">
                    <label for="Durazno">Durazno</label>
                    <input type="checkbox" id="pastel1" name="pastel1" value="Manzana">
                    <label for="">Manzana</label>
                    <br>
                    <label for="Descripcion">Describe tu pastel</label><br>
                    <textarea name="Descripcion" id="DEs" cols="100" rows="10"></textarea>
                    <br> <br>
                    
                    <input type="submit" value="Enviar y pagar">
                </div>
            </form>
        </div>
    </section>
     <br>
     <br>

    <footer>
        <div class="contacto">
            <a href="../views/contacto.html">Contactanos</a> <br>
            <a href="https://goo.gl/maps/iJ1bFBLspE8vGG5H7" target="_blank">Ubicanos</a>
        </div>
        <div class="redes">
            <h2>SIGE NUESTROS PASOS DE DULZURA</h2>
            <a href="https://www.facebook.com/" target="_blank">FACEBOOK</a>
            <a href="https://www.instagram.com/?hl=es" target="_blank">INSTAGRAM</a>
            <a href="https://www.youtube.com/" target="_blank">YOUTUBE</a>
    </footer>
</body>

</html>